*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color: black;
}
.p{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.bot{
    background: rgb(241, 169, 0);
    margin-left: 50px;
    width: 192px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}
.div-small{
display: flex;
} */